.h1-text{
    text-align: center;
    font-size: 3rem;
    color: black;
}
.wrapper-content{
display: flex;
width: 100%;
flex-direction: column;
justify-content: center;
}
.textar-block{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 5rem;
}
.text-area {
    width: 59rem;
    height: 7rem;
    border-radius: 10px;
    border: 2px solid black;
    resize: none;
}

.message{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.message span{
    font-size: 2rem;
    margin: 10px 0 10px 0;
}
.key-block{
    display: flex;
    max-width: 100%;
   margin: 0 auto;
    justify-content: center; 
}
.keyboard{
    display: flex;
    max-width: 100%;
    background-color:aqua;
    border-radius: 10px;
    border: 2px solid black;
}
.board-keys{
    max-width: 59rem;
    margin: 0 auto;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.board-key{
    position: relative;
    border-radius: 5px;
    color: black;
    background: transparent;
    width: 3.125rem;
    height: 3.125rem;
    border: 1px solid #000;
    font-size: 0.875em;
}
.board-key:hover{
    box-shadow:  3px 5px black;
}
.board-key-aux {
    position: absolute;
    top: 0.1875rem;
    left: 0.3125rem;
    font-size: 0.6875em;
}
  .arrow-up {
    background: url(./svg/arrow-up.svg) center/50% no-repeat ;
  }
  
  .arrow-down {
    background: url(./svg/arrow-down.svg) center/50% no-repeat;
  }
  
  .arrow-left {
    background: url(./svg/arrow-left.svg) center/50% no-repeat;
  }
  
  .arrow-right {
    background: url(./svg/arrow-right.svg) center/50% no-repeat;
  }
 